@import "tailwindcss";

@layer components {
  .user-icon {
    @apply flex flex-col justify-center items-center max-h-4 max-w-4;
  }

  .twoline-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
